/* a{
    padding: 50px;
} */
@import './../../../saas/variables';

// .navbar-nav {
//   flex-direction: row;
// }

// .nav-link {
//   padding-right: 3.7rem !important;
//   padding-left: .5rem !important;
// }


// .navbar {
//   background-color: $nav-bg-color;
//   height: auto;
// }


@media (min-width: 2000px)  {
  .navbar{
    background-color: $nav-bg-color;
    height: 65px;
  }
}

@media (min-width: 600px)  {
  .navbar{
    background-color: $nav-bg-color;
    height: auto;
  }
}

li:hover{
  border-radius: 50px;
  background-color: yellow;
}

// .navbar-collapse{
//   background-color: $nav-bg-color;
//   width: 100%;
// }
a {
  color: $nav-font-color;
}

.navbar-toggler-icon {
  color: whitesmoke;
}

.content {
  //  height: 200px;
  //  position: relative;
  width: 100%;
  height: 400px;
  background: $page-background-color;

}



.carousel-inner .card {
  // position: absolute;
  // top:120px;
  color: whitesmoke;
  border: none;
  margin: auto;
  width: 50%;
  height: 250px;
  background-color: $page-background-color;
  text-align: center;
  line-height: 100px;
}

.carousel-inner1 .card {
  // position: absolute;
  // top:120px;
  color: whitesmoke;
  border: none;
  margin: auto;
  width: 50%;
  height: 250px;
  background-color: $page-background-color;
  text-align: center;
  line-height: 100px;
}


.about-content {
  width: 100%;
  height: auto;
}


.carousel-inner img {
  width: 100%;
  height: 350px;
}

// .about-heading{
//   position: relative;
//   width: 100%;
//   height: 150px;
// }
// .about-heading-content{
//   position: absolute;
// top: 40px;
// left: auto;
// right: auto;
// bottom: 0;
// }


.call-to-action-content {
  background-color: $page-background-color;
  color: whitesmoke;
  height: 150px;
  padding-top: 70px;

}

.main-container {
  overflow: auto;
}

// .card-content{
//   bottom: auto;
//   top: auto;
//   height: auto;
//   width: auto;
// }

.card-content .card {
  // background-color: #EF6603;
  width: 200px;
  height: 100px;
  padding: 5px;
}


.bottom-card-content {
  bottom: auto;
  top: auto;
}

.bottom-card-content1 {
  bottom: auto;
  top: auto;
}

.bottom-card-content .card {
  background-color: #FFFFFF;
}


.footer {
  background-color: $page-background-color;
  height: 200px;
  color: whitesmoke;
}


.bottom-nav-bar {
  background-color: none !important;
}

.navbar-nav .nav-item {
  // background-color: black;
  display: block;
  color: black;
  padding: 15px;

}

.bottom-nav-bar a {
  color: black;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
