<nav class="navbar navbar-expand-sm fixed-top" >
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" #toggleButton type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" #menuDiv id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>

  </div>
</nav>

<!-- <div class="content d-flex d-flex justify-content-center">
  <div class="card">
      <h1>Welcome To Our Ecommerce Site</h1>
    <div class="card-body">
      <h5>This page will help you to solve your home electrical works</h5>
    </div>
    <div class="card-footer">
      <h5>Read More</h5>
    </div>

  </div>
  </div> -->
<div class="main-container">
  <div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="content d-flex align-items-center">
          <div class="card">
            <h1>Welcome To Our Ecommerce Site</h1>
            <div class="card-body">
              <h5>This page will help you to solve your home electrical works</h5>
              <h5>Read More</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="content d-flex flex-wrap  justify-content-center">
          <div class="card">
            <h1>Welcome To Our Ecommerce Site</h1>
            <div class="card-body">
              <h5>This page will help you to solve your home electrical works</h5>
            </div>
            <div class="card-footer">
              <h5>Read More</h5>
            </div>

          </div>
        </div>
      </div>
      <div class="carousel-item">
        <!-- <img src="./../../../assets/images/buy-electrical-surplus-equipment-online.jpg" alt="New York" > -->
        <div class="content d-flex flex-wrap justify-content-center">
          <div class="card">
            <h1>Welcome To Our Ecommerce Site</h1>
            <div class="card-body">
              <h5>This page will help you to solve your home electrical works</h5>
            </div>
            <div class="card-footer">
              <h5>Read More</h5>
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>

  <div class="container">

    <div class="about-heading pt-4">

      <h6>ABOUT</h6>
      <h1><b> WHO WE ARE</b></h1>
    </div>

    <div class="about-content pt-4">
      <div class="row">
        <div class="col-lg-6 col-sm-6">
          <p>About who we are kjdf;kvbdbcvbdcvkbdckSKJFBSDJBF DSBJFBJSDBJFBDJS SDBJFBBSDJBJDSB</p>
        </div>

        <div class="col-lg-6 col-sm-6">
          we are specialised in pluming electricals AND NDJKVNKDVDCVCDV NSDJVJBSDLJBVBDV BNSDJVJDSBVJKDSBJVKBK
        </div>
      </div>
    </div>


    <div class="card-content justify-content-around h-50 pt-5  pt-4 d-flex flex-wrap">
      <!-- <div class="row"> -->
        <div class="card mt-2">
          About who
        </div>

        <div class="card mt-2">
          we are
        </div>
        <div class="card mt-2">
          we are
        </div>
        <div class="card mt-2">
          we are
        </div>
      <!-- </div> -->
      <!-- <nav class="bottom-nav-bar nav d-flex navbar-expand-lg">
      <div id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active col-md-3 col-lg-3 col-sm-3">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item col-md-3 col-lg-3 col-sm-3">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item col-md-3 col-lg-3 col-sm-3">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item col-md-3 col-lg-3 col-sm-3">
            <a class="nav-link" href="#">Pricing1</a>
          </li>
        </ul>
      </div>
    </nav> -->
    </div>





    <div class="lecture-content pt-5 h-25 row">
      <div class="col-sm">jkbckdsbkvbcbjvbcbcv cxvxcvcxvxcvxc cxvdxcvxcv</div>
      <div class="col-sm">
        <img src="./../../../assets/images/features-1.png" alt="lecture">
      </div>
    </div>


  </div>


  <div class="call-to-action-content d-flex justify-content-around">
    <div>
      Hello kjdskjkvdvb
      fndbknksdfbkdfbdf
      njkvbjdhdhjdbvj
    </div>
    <div>
      <!-- <button type="button" class="btn b">CALL TO ACTION</button> -->
      <a name="" id="" class="btn btn-primary" href="#" role="button">CALL TO ACTION</a>
    </div>
  </div>


  <div class="bottom-heading-content container">
    <div class="service-content pt-5">
      <h6>SERVICES</h6>
      <h1><b> WHAT DO WE OFFER</b></h1>
    </div>

    <div class="bottom-card-content d-flex justify-content-around h-50 pt-5 flex-wrap">
      <div class="card h-25 w-25 shadow-lg p-3 mb-5 bg-white rounded">

        <div class="card-body">
          hello sujay
        </div>
      </div>
      <div class="card h-25 w-25 shadow-lg p-3 mb-5 bg-white rounded">

        <div class="card-body">
          hello sujay
        </div>
      </div>
      <div class="card h-25 w-25 shadow-lg p-3 mb-5 bg-white rounded">

        <div class="card-body">
          hello sujay
        </div>
      </div>

    </div>


    <div class="bottom-card-content1 d-flex justify-content-around h-50 pt-5 flex-wrap">
      <div class="card h-25 w-25 shadow-lg p-3 mb-5 bg-white rounded">

        <div class="card-body">
          hello sujay
        </div>
      </div>
      <div class="card h-25 w-25 shadow-lg p-3 mb-5 bg-white rounded">

        <div class="card-body">
          hello sujay
        </div>
      </div>
      <div class="card h-25 w-25 shadow-lg p-3 mb-5 bg-white rounded">

        <div class="card-body">
          hello sujay
        </div>

      </div>
    </div>

    <div class="service-content pt-5 h-50">
      <div class="portfolio-heading-content">
        <h6>PORTFOLIO</h6>
        <h1><b>WHAT WE HAVE DONE</b></h1>
      </div>
      <div class="portfolio-content">
        <div class="row">
          <div class="card col-lg-4 col-md-4 col-sm-6">
            <img src="./../../../assets/images/buy-electrical-surplus-equipment-online.jpg" class="img-fluid"
              alt="electrical">
          </div>
          <div class="card col-lg-4 col-md-4 col-sm-6">
            <img src="./../../../assets/images/buy-electrical-surplus-equipment-online.jpg" class="img-fluid"
              alt="electrical">
          </div>
          <div class="card col-lg-4 col-md-4 col-sm-6">
            <img src="./../../../assets/images/buy-electrical-surplus-equipment-online.jpg" class="img-fluid"
              alt="electrical">
          </div>
          <div class="card col-lg-4 col-md-4 col-sm-6">
            <img src="./../../../assets/images/buy-electrical-surplus-equipment-online.jpg" class="img-fluid"
              alt="electrical">
          </div>
          <div class="card col-lg-4 col-md-4 col-sm-6">
            <img src="./../../../assets/images/buy-electrical-surplus-equipment-online.jpg" class="img-fluid"
              alt="electrical">
          </div>
          <div class="card col-lg-4 col-md-4 col-sm-6">
            <img src="./../../../assets/images/buy-electrical-surplus-equipment-online.jpg" class="img-fluid"
              alt="electrical">
          </div>
        </div>
      </div>



    </div>



    <div class="testimonals-heading-content pt-5">
      <h6>TESTIMONIALS</h6>
      <h1><b>WHAT THEY ARE SAYING ABOUT US</b></h1>
    </div>


    <div class="testimonals-content">

      <div id="demo1" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
          <li data-target="#demo1" data-slide-to="0" class="active"></li>
          <li data-target="#demo1" data-slide-to="1"></li>
          <li data-target="#demo1" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="./../../../assets/images/buy-electrical-surplus-equipment-online.jpg" alt="Los Angeles"
              width="1100" height="500">
            <div class="carousel-caption">
              <h3>Los Angeles</h3>
              <p>We had such a great time in LA!</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="./../../../assets/images/buy-electrical-surplus-equipment-online.jpg" alt="Chicago" width="1100"
              height="500">
            <div class="carousel-caption">
              <h3>Chicago</h3>
              <p>Thank you, Chicago!</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="./../../../assets/images/buy-electrical-surplus-equipment-online.jpg" alt="New York" width="1100"
              height="500">
            <div class="carousel-caption">
              <h3>New York</h3>
              <p>We love the Big Apple!</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#demo1" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo1" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>


      <div class="contact-us-heading pt-5">

        <h6>CONTACT</h6>
        <h1><b>CONTACT US</b></h1>
      </div>
      <div class="contact-us-content pt-5">
        <div class="row">
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-12 form-group">
                <h5> Location</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 form-group">
                <h5>Email</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 form-group">
                <h5>Call</h5>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-6 form-group">
                <input class="form-control" type="text">
              </div>
              <div class="col-md-6 form-group">
                <input class="form-control" type="text" name="" id="">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 form-group">
                <input class="form-control" type="text">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 form-group">
                <input class="form-control" type="text">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 form-group">
                <button class="btn btn-primary" type="button">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>



  </div>



  <div class="footer d-flex flex-column justify-content-center align-items-center">
    <div class="row">
      <h2>Selecon Valley</h2>
    </div>
    <div class="row">
      <h5>haffun always</h5>
    </div>

  </div>
